@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
}

.search-group {
    text-align: right;
}

.search-group label {
    display: inline-block;
    margin-right: 10px;
}

.search-group input {
    display: inline-block;
    max-width: 300px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Footer  */
.containerFooter {
	display:flex;
	justify-content:space-between;
	width:990px;
}

footer {
    background-color:#1e1e1e;
    display:flex;
    justify-content:center;
}

.flexColumn {
	flex-direction:column;
}
.footer_menu {
	display:flex;
}
.fm_1, .fm_2, .fm_3 {
	flex:1;
	color:#FFFFFF;
}
.fm_1 {
	background-color: rgb(0 58 106);
}
.fm_2 {
	background-color:rgb(0 77 142);
}
.fm_3 {
	background-color:rgb(255, 101, 0);
}
.footer_menu a {
	display:block;
	text-decoration: none;
	padding:20px;
	color:#FFFFFF;
}

.footer_area {
	display:flex;
}
.footer_areaitem {
	flex:1;
	color:#FFFFFF;
    padding: 0 0 0 20px;
}

footer .widget_title_text {
	color:#FFFFFF;
}

.widget_title {
	margin-top:30px;
	margin-bottom:20px;
}
.widget_title_text {
	color:#000000;
	font-size:21px;
	font-weight: bold;
}
.widget_title_bar {
	width:50px;
	height:2px;
	background-color:#808080;
	margin-top:10px;
}

.footer_copy {
	border-top:1px solid #2c2c2c;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	font-size:12px;
	margin-top:30px;
}


.add-client-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}

.btn-circle {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 50%;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-responsive {
	display: inline-table;
}

@media (max-width: 768px) {
	.btn-circle {
		width: 40px;
		height: 40px;
		font-size: 18px;
	}
}

@media (max-width:600px) {

	.containerFooter {
		flex-direction:column;
	}

	.footer_menu {
		flex-direction:column;
	}
	.footer_area {
		flex-direction: column;
		padding:20px;
	}

	.footer_copy {
		padding-left:20px;
	}



	header {
		height:auto;
	}


	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
}